.actor__name {
    font-size: 36px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .actor__name {
        font-size: 24px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .actor__name {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .actor__name {
        font-size: 10px;
    }
}