.actors__title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .actors__title {
        font-size: 30px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .actors__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
    .actors__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .actors__title {
        font-size: 10px;
    }
}