.completion-block__paragraph {
    padding-left: 10px;
    text-indent: 40px;
    font-size: 28px;
    line-height: 1.5;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .completion-block__paragraph {
        font-size: 20px;
        text-indent: 30px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .completion-block__paragraph {
        font-size: 16px;
        text-indent: 20px;
    }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
    .completion-block__paragraph {
        font-size: 14px;
        text-indent: 16px;
    }
}

@media screen and (max-width: 425px) {
    .completion-block__paragraph {
        font-size: 10px;
        text-indent: 10px;
    }
}
