.contact-form__input {
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid black;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-form__input {
        width: 250px;
        height: 25px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .contact-form__input {
        width: 200px;
        height: 20px;
    }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
    .contact-form__input {
        width: 150px;
        height: 15px;
    }
}

@media screen and (max-width: 425px) {
    .contact-form__input {
        width: 100px;
        height: 10px;
    }
}