.completion-block__image {
    width: calc(100% - 40px);
    padding: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .completion-block__image {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .completion-block__image {
        width: calc(100% - 20px);
        padding: 0 10px;
    }
}

@media screen and (max-width: 425px) {
    .completion-block__image {
        width: calc(100% - 20px);
        padding: 0 10px;
    }
}