.intro__title {
    font-size: 96px;
    font-weight: 900;
    -webkit-text-stroke-width: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__title {
        font-size: 72px;
        -webkit-text-stroke-width: 3px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .intro__title {
        font-size: 48px;
        -webkit-text-stroke-width: 2px;
    }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
    .intro__title {
        font-size: 36px;
        -webkit-text-stroke-width: 0;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        font-size: 24px;
        -webkit-text-stroke-width: 0;
    }
}